html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../paginas/img/FUNDO.png) no-repeat center center / cover;
    overflow-x: hidden;
}




.top-voltar {
    position: absolute; 
    top: 40px;
    left: 220px;
    z-index: 1000;
}

.voltar-btn {
    background: none;
    padding: 20px 15px;
    color: #f8d7a4;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: auto;
}

.card-maior{
    width: 90%;
    max-width: 950px;
    margin:80px auto 20px auto;
    background: rgba(107, 3, 3, 0.83);
    padding:25px;
    border-radius:25px;
    box-shadow:0 0 15px rgba(0,0,0,0.4);
    text-align:center;
    color:white;
}
.titulo{
    font-size:42px;
    margin-bottom:10px;
    margin-top: 10px;
    font-weight: 900;
    color: #fce6c5;
    text-shadow:
        -3.5px -3.5px 0 #c48938,
         3.5px -3.5px 0 #c48938,
        -3.5px  3.5px 0 #c48938,
         3.5px  3.5px 0 #c48938,
         0px  0px 8px #c48938
}


.tabela-card{
    width:90%;
    margin:40px auto;
    background:rgba(255,255,255,0.1);
    padding:20px;
    border-radius:20px;
    overflow-x:auto;
    margin-bottom: 10px;
}

table{
    width:100%;
    min-width:700px;
    border-collapse:collapse;
}


table th{
    background: #e4c48a;
    color: #8b4f2f;
    padding:12px;
    font-size:16px;
}

/* Linhas */
table td{
    background:rgba(107, 3, 3, 0.829); 
    color:#fff;
    padding:12px;
    border-bottom:1px solid rgba(0,0,0,.1);
    font-size:15px;
}

/* Botões Ação */
.acao-btns a {
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
}

.editar-btn {
    background: #ffd37a;
    color: #8b4f2f;
}

.editar-btn:hover {
    background: #ffca5c;
}

.delete-btn {
    background: #ff8d8d;
    color: #6b1e1e;
}

.delete-btn:hover {
    background: #ff6f6f;
}


@media(max-width: 768px) {

    .tabela-card {
        overflow-x: auto;
    }

    table {
        min-width: 650px;
    }

    
    table thead { display: none; }

    
    table tr { 
        display: block;
        margin-bottom: 18px;
        background: rgba(255,255,255,0.06);
        padding: 12px;
        border-radius: 12px;
    }

    table td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #ffd77c;
    }
}



.top-voltar {
    padding: 2px;
}
.voltar-btn {
 margin-left: -300px;
    font-size: 18px;
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-start;
    width: 20%;
    margin-bottom: 10px;
    z-index: 9;
    color: #f8d7a4;
    text-decoration: none;
}


.card-maior {
    width: 95%;
    margin: 10px auto;
    background: rgba(107, 3, 3, 0.83);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-area {
    margin-bottom: 10px;
    text-align: center;
    margin-right: 00px;
}
.logo {
    margin-top: 20px;
    width: 150px;
}




.form-card {
    background: rgba(107, 3, 3, 0.83);
    padding: 1px;
    border-radius: 1px;
    text-align: left;
    width: 95%;
}

.form-card label {
    color: #f1c16d;
    font-weight: bold;
}
.form-card input,
.form-card textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    margin: 6px 0;
    background-color: #f8e2b8;
}


.btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 18px;
    background: #a30707;
    color: white;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}
.btn:hover{
    background:#f1c16d;
    color:#000;
}
.edit {
    background: #00ff37ff;
}
.edit:hover {
    background: #28f78aff;
}



.tabela-container {
    width: 85%;
    margin: 20px auto;
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 15px;
}
.titulo-tabela {
    text-align: center;
    color: #ffdf86;
    padding: 8px;
    border-radius: 6px;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 900;
    text-shadow:
        -2px -2px 0 #6b1e1e,
         2px -2px 0 #6b1e1e,
        -2px  2px 0 #6b1e1e,
         2px  2px 0 #6b1e1e,
         0px  0px 8px #6b1e1e
}

.table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}
.table th {
    background: #e4c48a;
    color: #8b4f2f;
    padding: 8px;
}
.table td {
    background: rgba(107, 3, 3, 0.83);
    color: #fff;
    padding: 8px;
    border-bottom: 1px solid rgba(255,246,246,0.8);
}


.action-btn {
    padding: 4px 8px;
    border-radius: 6px;
    color: #fff;
}
.delete {
    background: #dc3545;
    cursor: pointer;
}
 

@media (max-width: 768px) {

    body {
        overflow-x: hidden;
        background-color: #6b1e1e;
    }

    .tabela-container {
        width: 95%;
        padding: 5px;
    }

    .table, 
    .table thead, 
    .table tbody, 
    .table th, 
    .table td, 
    .table tr {
        display: block;
        width: 65%;
    }

    
    .table thead {
        display: none;
    }

    .table tr {
        margin-bottom: 15px;
        background: rgba(107, 3, 3, 0.83);
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
    }

    .table td {
        padding: 12px 10px 12px 110px; 
        text-align: left;
        position: relative;
        border: none;
        white-space: normal;
        word-wrap: break-word;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        top: 12px;
        font-weight: bold;
        color: #ffd282;
        font-size: 14px;
    }


.table td[data-label="Ações"] {
    padding-top: 10px;
    text-align: left;   
}


.table td[data-label="Ações"] a,
.table td[data-label="Ações"] button {
    width: 120px;       
    max-width: 100%;
    display: block;     
    margin: 6px 0;
    text-align: center; 
    box-sizing: border-box;
}

    
    .form-card {
        width: 75%;
    }

    .voltar-btn {
        margin-left: -350px;
        width: auto;
    }
}

.bola1 {
    position: absolute;
    top: -50px;
    left: -20px;
    width: 200px;
    
}
.bola1 img {
    width: 100%;
}
.bola2 {
    position: absolute;
    top: 100px;
    right: 10px;
    width: 150px;
    z-index: 5;
}
.bola2 img {
    width: 100%;
}
.bola3 {
    position: absolute;
    bottom: -50px;
    left: -80px;
    width: 180px;
    z-index: 5;
}
.bola3 img {
    width: 100%;
}

@media (max-width: 768px) {
    .bola1 {
        width: 120px;
        top: 20px;
        left: -50px;
    }
    .bola2 {
        width: 100px;
        top: 150px;
        right: -20px;
    }
    .bola3 {
        width: 120px;
        bottom: -30px;
        left: -40px;
    }
    
}

