body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #6b1e1e;
    background-image:url(../paginas/img/FUNDO.png); 
    background-size:cover;
    background-attachment:fixed;
    overflow-x: hidden;
}



.top-banner{
    width:100%;
    height:80px;
    background:url('../img/topo_natal.png');
    background-size:cover;
}

.container{
    width:90%;
    max-width:1300px;
    margin:20px auto;
    background:rgba(255,255,255,0.1);
    padding:20px;
    border-radius:8px;
}

.titulo{
    text-align:center;
    color:#ffdf86;
    font-size:26px;
    margin-bottom:20px;
    font-weight: 900;
    text-shadow:
        -2px -2px 0 #6b1e1e,
         2px -2px 0 #6b1e1e,
        -2px  2px 0 #6b1e1e,
         2px  2px 0 #6b1e1e,
         0px  0px 8px #6b1e1e
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(0,0,0,0.25);  
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.table th {
    background: #e4c48a;          
    color: #8b4f2f;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.table td {
    padding: 12px;
    background: rgba(255,255,255,0.05); 
    border-bottom: 1px solid rgba(255,255,255,0.15);
}


.table tr:hover td {
    background: rgba(255,255,255,0.12);
}


.btn {
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: none;
}

.editar {
    background: #28a745;
}

.excluir {
    background: #e63946;
}


.img-produto {
    width: 60px;
    border-radius: 6px;
}

.btn{
    padding:8px 14px;
    border-radius:6px;
    text-decoration:none;
    color:#fff;
    font-size:14px;
    margin-right:5px;
}

.editar{
    background:#4caf50;
}

.excluir{
    background:#e74c3c;
}

.promocoes {
  text-align: center;
  position: relative;
  padding-bottom: 50px;

}

.promocoes h2 {
  margin-top: 70px;
  font-size: 26px;
  color: #ffdf86;
  font-weight: 900;
  text-shadow:
        -2px -2px 0 #6b1e1e,
         2px -2px 0 #6b1e1e,
        -2px  2px 0 #6b1e1e,
         2px  2px 0 #6b1e1e,
         0px  0px 8px #6b1e1e

}

.cards {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.card {
  background: hsla(58, 100%, 94%, 1);
  color: #000;
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  margin-top: 80px;
  border: hsla(44, 79%, 46%, 1) 5px solid;
  
}

.card img {
  width: 90%;
  border-radius: 10px;
  margin-top: -60px;
}

.card h3 {
  font-size: 14px;
  margin: 10px 0;
}

.preco {
  color: #ffdf86;
  font-weight: bold;
  font-size: 18px;
}

.parcelas {
  color: #000000;
  font-size: 12px;
}
.alfajor {
  position: absolute;
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 0;
  width: 300px;
}

.card img:hover{
    transform: translateY(-20px);
}

/* Botão voltar */
.top-voltar {
    position: absolute; 
    top: 80px;   
    left: 30px;   
    z-index: 1000;    
}

.voltar-btn {
    background: none;
    padding: 10x 15px;
    color: #f8d7a4;
    
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.bola1 {
    position: absolute;
    right: -120px;
    top: 100px;
    height: 50%;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
}

.bola1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bola2 {
    position: absolute;
    left: -70px;
    top: 450px;
    height: 30%;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
    transform: scaleX(-1);
}
.bola2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media (max-width:1024px){
    .cards{
        gap:30px;
    }

    .alfajor{
        width:280px;
    }
}

/* Telas até 768px (celulares médios) */
@media (max-width:768px){

    .top-banner{
        height:65px;
    }

    .titulo{
        font-size:22px;
    }

    .card{
        width:180px;
        margin-top:60px;
    }

    .alfajor{
        width:200px;
    }
       .card-maior{
        width: 95%;
        padding: 15px;
    }

    .titulo{
        font-size:22px;
    }

    
    table thead{
        display:none;
    }

    table, tbody, tr, td {
        display:block;
        width:100%;
    }

    tr{
        margin-bottom:15px;
        background: rgba(255,255,255,0.08);
        padding:12px;
        border-radius:12px;
    }

   
    td{
        padding:10px 10px 10px 130px; 
        position:relative;
        white-space: normal;
    }

    td::before{
        content: attr(data-label);
        position:absolute;
        top:10px;
        left:10px;
        font-weight:bold;
        color:#ffd77c;
    }

    
    td[data-label="Ações"]{
        padding-left:130px; 
        display:flex;
        flex-direction:column;
        gap:8px;
    }

    td[data-label="Ações"] a,
    td[data-label="Ações"] button{
        width:140px;
        text-align:center;
        padding:8px 0;
    }

    .top-voltar{
        top: 70px;
        left: 0px;
    }

    .voltar-btn{
        font-size:24px;
        padding:5px;
    }
    .bola1 {
        height: 50%;
    }
    .bola2 {
        display: none;
    }
}

@media (max-width:480px){

    .container{
        padding:12px;
    }

    .titulo{
        font-size:18px;
    }

    .cards{
        gap:20px;
    }

    .card{
        width:150px;
        margin-top:50px;
    }

    .card img{
        margin-top:-45px;
    }

    .alfajor{
        width:150px;
    }

    .table{
        font-size:12px;
    }

    .table th, .table td{
        padding:8px;
    }
}