body {
    font-family: 'Lalezar', Arial, sans-serif;
    background: url(../paginas/img/FUNDO.png);
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    height: 80px;      
    max-width: 100%;
    object-fit: contain;
}


.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box principal */
.box {
    background: rgba(74, 45, 37, 0.5);
    color: #fff;
    padding: 40px;
    border-radius: 18px;
    width: 800px;
    min-height: 500px;
    height: auto;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    justify-content: flex-start;
    margin-top:    -10px;
    
}

/* Título */
.box h2 {
    font-size: 52px;
    color: #fff3d6;
    margin-bottom: 30px;
    margin-top: -30px;  
    font-weight: 900;
}

/* Inputs */
.box form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.box input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    margin: 6px 0;
    background-color: #fce5c4;
}


label {
    align-self: flex-start;
    margin-left: 7.5%;
    margin-top: 10px;
    font-weight: 900;
    font-size: 22px;
    color: #fff3d6;
    margin-top: 6px;
}

/* Botão */
.btn {
    background: #8b4f2f;
    color: #fff;
    padding: 12px;
    width: 50%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    margin-top: 20px;
}

.btn:hover {
    background: #a35a33;
}

/* Barra lateral (imagem) */
.barra {
    position: absolute;
    right: 0;
    margin-top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 3;
}

.barra img {
    height: 100%;
    margin-right: 0px;
}

.voltar {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 10px;
    z-index: 9999;
    color: #f8d7a4;
    text-decoration: none;  
}

.voltar:focus,
.voltar:active {
    outline: none;
    box-shadow: none;
}

.voltar:hover {
    color: #fff3d6;  
}

.bengala {
    position: absolute;
    left: 20px;
    bottom: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
    transform: rotate(-10deg);
}

.bengala2 {
    position: absolute;
    right: -30px;
    bottom: 200px;
    height: 350px;
    display: flex;
    align-items: center;
    pointer-events: none;
    transform: scaleX(-1);
    z-index: 2;
}

.bola1 {
    position: absolute;
    right: -50px;
    top: 200px;
    height: 50%;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
}

.bola1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bola2 {
    position: absolute;
    left: -70px;
    top: 50px;
    height: 30%;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
    transform: scaleX(-1);
}
.bola2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.presente {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 152px;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;

}
.presente img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}





@media (max-width: 1024px) {
    .barra {
        display: none;
    }

    body {
        padding: 20px;
        overflow-y: auto;
    }

    .box {
        width: 70%;
    }
        .bengala {
        display: none;
    }
    .bengala2 {
        display: none;
    }
    body{
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .box {
        width: 90%;
    }
    .bengala {
        display: none;
    }
    .bengala2 {
        display: none;
    }
    body{
        overflow: hidden;
    }
    .bola1 {
        height: 30%;
        margin-top: 20px;
        transform: rotate(-30deg);
    }
    .bola2 {
        height: 20%;
        margin-top: 50px;
    }
    .box h2 {
        font-size: 20px;
    }
    .btn {
        width: 60%;
    }

}

@media (max-width: 480px) {
    .box {
        width: 95%;
        padding: 30px;
    }

    .box h2 {
        font-size: 26px;
    }

    .box input {
        width: 90%;
        font-size: 14px;
    }

    .btn {
        width: 80%;
        font-size: 15px;
    }
}