html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../paginas/img/FUNDO.png) no-repeat center center / cover;
    background-color: #a30707;
    overflow-x: hidden;
}

.top-voltar {
    position: absolute; 
    top: 105px;
    left: 185px;         
    z-index: 1000;
}

.voltar-btn {
    background: none;
    padding: 10px 15px;
    color: #f8d7a4;
    font-weight: bold;
    text-decoration: none;
    font-size: 28px;
}

/*card*/

.card-maior{
    width: 90%;
    max-width: 900px;
    margin:80px auto 20px auto;
    background: rgba(107, 3, 3, 0.83);
    padding:25px;
    border-radius:25px;
    box-shadow:0 0 15px rgba(0,0,0,0.4);
    text-align:center;
    color:white;
}

.logo{
    width:110px;
}
.titulo{
    font-size:42px;
    margin-bottom:10px;
    margin-top: 10px;
    font-weight: 900;
    color: #fce6c5;
    text-shadow:
        -3.5px -3.5px 0 #c48938,
         3.5px -3.5px 0 #c48938,
        -3.5px  3.5px 0 #c48938,
         3.5px  3.5px 0 #c48938,
         0px  0px 8px #c48938
}

/* form */
.form-card{
    width: 100%;
    text-align: left;
    
}

.form-card label{
    color:#f1c16d;
    font-weight:bold;
}

.form-card input,
.form-card textarea,
.form-card select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    margin: 6px 0 12px 0;
    background-color: #f8e2b8;
    color: black;
}


.form-card input[type="file"] {
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    background-color: #f8e2b8;
    color: black;
    border: 0;
}


.form-card input[type="file"]::file-selector-button {
    background-color: #f8e2b8;
    color: black;
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}


.form-card input[type="file"]::file-selector-button:hover {
    background-color: #e2c899;
}


/* botao */
.btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 18px;
    background: #a30707;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background:#f1c16d;
    color:#000;
}

/* tabela */
.tabela-card{
    width: 95%;
    margin: 20px auto;
    background: rgba(255,255,255,0.12);
    padding:20px;
    border-radius:15px;
    overflow-x: hidden; 
}

.titulo-tabela{
    text-align:center;
    color:#ffdf86;
    font-size:22px;
    margin-bottom:15px;
    font-weight: 900;
    text-shadow:
        -2px -2px 0 #6b1e1e,
         2px -2px 0 #6b1e1e,
        -2px  2px 0 #6b1e1e,
         2px  2px 0 #6b1e1e,
         0px  0px 8px #6b1e1e
}


table{
    width:100%;
    border-collapse: collapse;
}

th{
    background:#e4c48a;
    color:#8b4f2f;
    padding:12px;
}

td{
    background: rgba(107,3,3,0.82);
    color:white;
    padding:12px;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.thumb{
    width:60px;
    height:60px;
    object-fit: cover;
    border-radius:6px;
}

/* botoes */
.edit{
    background:#31d658;
    color:#000;
    padding:6px 10px;
    border-radius:6px;
    text-decoration:none;
}
.delete{
    background:#dc3545;
    border:none;
    color:white;
    padding:6px 10px;
    border-radius:6px;
    cursor:pointer;
}

.bola1 {
    position: absolute;
    right: -50px;
    top: 200px;
    height: 50%;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
}
.bola1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bola2 {
    position: absolute;
    left: -20px;
    top: 50px;
    height: 30%;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
}
.bola2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bola3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 152px;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
}
.bola3 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



@media (max-width: 768px){

    .card-maior{
        width: 85%;
        padding: 15px;
    }

    .titulo{
        font-size:22px;
    }

    
    table thead{
        display:none;
    }

    table, tbody, tr, td {
        display:block;
        width:100%;
    }

    tr{
        margin-bottom:15px;
        background: rgba(255,255,255,0.08);
        padding:12px;
        border-radius:12px;
    }

    
    td{
        padding:10px 10px 10px 130px; 
        position:relative;
        white-space: normal;
    }

    td::before{
        content: attr(data-label);
        position:absolute;
        top:10px;
        left:10px;
        font-weight:bold;
        color:#ffd77c;
    }

   
    td[data-label="Ações"]{
        padding-left:130px; 
        display:flex;
        flex-direction:column;
        gap:8px;
    }

    td[data-label="Ações"] a,
    td[data-label="Ações"] button{
        width:140px;
        text-align:center;
        padding:8px 0;
    }

    .top-voltar{
        top: 100px;
        left: 10px;
    }

    .voltar-btn{
        font-size:24px;
        padding:5px;
    }

    .bola1 {
        display: none;
    }
    .bola2 {
        display: none;
    }
    .bola3 {
        display: none;
    }
}

