html, body {
  margin: 0;
  padding: 0;
}


body {
  background: url(../paginas/img/FUNDO.png) no-repeat center center;
  font-family: 'Lalezar', Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;      
  flex-direction: column;
  overflow: hidden;
  
}

.container {
  background-color: rgba(74, 45, 37, 0.5);
  border-radius: 40px;
  padding: 70px;
  width: 90%;
  height: 550px;
  margin-bottom: -20px;
  max-width: 1200px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

li{
    margin-top: 30px;
}


.container h3 {
  color: #8b290d;
}

.container h1 {
  font-size: 50px;
}
/* Logo */
.logo {
  width: 180px;
  display: block;
  margin: 0 auto 10px;
}

/* Logo no canto */
.logo-canto {
  width: 130px;
  display: flex;
  position: absolute;
  top: 40px;
  left: 50px;
  z-index: 10;
  opacity: 1.0;
}

/* Título */
h1 {
  color: #fce6c5;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0 0 5px;
  text-shadow:
        -3.5px -3.5px 0 #c48938,
         3.5px -3.5px 0 #c48938,
        -3.5px  3.5px 0 #c48938,
         3.5px  3.5px 0 #c48938,
         0px  0px 8px #c48938
}

/* Subtítulo */
p {
  color: #f1c16d;
  margin: 0 0 30px;
  font-size: 0.9rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 40px 0 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}


li {
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fce6c5;
  padding: 5px 10px 5px 60px;
  border-radius: 40px;
  box-shadow: 2px 2px 5px black;
  font-size: 18px;
  width: 60%;
  height: 40px;
  margin: 0 auto;
}


li h3 {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  transition: 0.3s;
  font-family: 'Lalezar', Arial, sans-serif;
}

li img {
  position: absolute;
  left: -40px;
  width: 140px;
  height: 160px;
  top: -50px;
  border-radius: 50%;
  opacity: 1.0;
  cursor: pointer;
  transition: .5s ease;
}

li img:hover {
  transform: scale(1.2);
}

/* Links */
a:hover {
  color: #5d45bc;
  transition: 0.7s;
}

img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 75px;
  margin-bottom: 10px;
}

button {
  padding: 1.3em 3em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fce6c5;
  background-color: #8b290d;
  border: 2px solid #fce6c5;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  width: 200px;
  
}

button:hover {
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

/* Imagem decorativa */
.barra {
  position: absolute;
  right: -165px;
  width: 700px;
  height: 700px;
  bottom: -100px;
}

.bola1 {
    position: absolute;
    right: -50px;
    top: 200px;
    height: 50%;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
}

.bola1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bola2 {
    position: absolute;
    left: -20px;
    top: 50px;
    height: 30%;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;
    transform: scaleX(-1);
}
.bola2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.presente {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 152px;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 2;

}
.presente img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




@media (max-width: 1024px) {
  li {
    width: 60%;
    margin-left: 100px;
  }
}

.logo{
  display: none;
}

@media (max-width: 768px) {
  li {
    width: 80%;
    margin-left: 0;
    font-size: 16px;
  }

  li img {
    width: 120px;
    height: 120px;
    top: -30px;
    left: -40px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 0.8rem;
  }

  
  .barra {
    display: none;
  }
}

.logo{
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 10px;
  }

  li {
    width: 80%;
    font-size: 8px;
    padding-left: 40px;
  }

  li img {
    width: 110px;
    height: 110px;
    top: -30px;
    left: -45px;
  }

  h1 {
    font-size: 12px;
  }

  p {
    font-size: 0.75rem;
  }

  .logo-canto {
    display: none;

  }

  li h3{
    font-size: 1rem;
  }
      .bola1 {
        height: 30%;
        margin-top: 200px;
        transform: rotate(-30deg);
    }
    .bola2 {
        height: 20%;
        margin-top: 150px;
        margin-left: -20px;
    }
    .gorro {
      display: none;

    }

    .presente {
      display: none;
    }

  }