body {
  background: url(../paginas/img/FUNDO.png);
  font-family: 'Lalezar', Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;      
  flex-direction: column;
  overflow: hidden;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(74, 45, 37, 0.5);
  border-radius: 40px;
  padding: 70px;
  width: 90%;
  height: 550px;
  margin-bottom: -40px;
  max-width: 1200px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

li{
    margin-top: 30px;
}



.container h3 {
  color: #8b290d;
}

/* Logo */
.logo {
  width: 180px;
  display: block;
  margin: 0 auto 10px;
}

/* Logo no canto */
.logo-canto {
  width: 130px;
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  opacity: 1.0;
}

/* Título */
h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0 0 5px;
}

/* Subtítulo */
p {
  color: #f1c16d;
  margin: 0 0 30px;
  font-size: 0.9rem;
}

/* Lista */
ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 5px 10px 5px 60px;
  border-radius: 40px;
  box-shadow: 2px 2px 5px black;
  font-size: 18px;
  width: 45%;
  margin-left: 200px;
  height: 40px;
}

li h3 {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  transition: 0.3s;
  font-family: 'Lalezar', Arial, sans-serif;
}

li img {
  position: absolute;
  left: -40px;
  width: 140px;
  height: 160px;
  top: -50px;
  border-radius: 50%;
  opacity: 1.0;
  cursor: pointer;
  transition: .5s ease;
}

li img:hover {
  transform: scale(1.2);
}

/* Links */
a:hover {
  color: #5d45bc;
  transition: 0.7s;
}

img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 75px;
  margin-bottom: 10px;
}

button {
  padding: 1.3em 3em;
  text-transform: uppercase;
  font-weight: 500;
  color: #8b290d;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
  
}

button:hover {
  background-color: #f1c16d;
  box-shadow: 0px 15px 20px rgba(253, 221, 36, 0.651);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

/* Imagem decorativa */
.barra {
  position: absolute;
  right: -165px;
  width: 600px;
  height: 600px;
  bottom: -100px;
}


/* ================= RESPONSIVIDADE ================= */
@media (max-width: 1024px) {
  li {
    width: 60%;
    margin-left: 100px;
  }
}

.logo{
  display: none;
}

@media (max-width: 768px) {
  li {
    width: 80%;
    margin-left: 0;
    font-size: 16px;
  }

  li img {
    width: 120px;
    height: 120px;
    top: -30px;
    left: -40px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* Remove a barra no tablet/celular */
  .barra {
    display: none;
  }
}

.logo{
  display: none;
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

  }

  li {
    width: 80%;
    font-size: 8px;
    padding-left: 40px;
  }

  li img {
    width: 110px;
    height: 110px;
    top: -30px;
    left: -45px;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.75rem;
  }

  .logo-canto {
    display: none;

  }

  li h3{
    font-size: 1rem;
  }
}

